

.rightAnimate{
    animation: animation 0.6s ease;
}

.leftAnimate{
    animation: animation2 0.6s ease;
}

@keyframes animation {
  0% {
    transform: translateX(0); /* Start position */
  }

  50% {
    transform: translateX(-1500px); /* Move to the right */
  }

  51% {
    transform: translateX(3000px); /* Immediately move to the left without animating */
  }

  100% {
    transform: translateX(0); /* Return to the original position */
  }
}

@keyframes animation2 {
  0% {
    transform: translateX(0); /* Start position */
  }

  50% {
    transform: translateX(1500px); /* Move to the right */
  }

  51% {
    transform: translateX(-3000px); /* Immediately move to the left without animating */
  }

  100% {
    transform: translateX(0); /* Return to the original position */
  }
}

.pAnimate{
   animation: animation3 0.8s ease-in-out;
}
 
@keyframes animation3{
    0%{
      opacity: 0.5;
      width: 40%;
    }
   
    100%{
      opacity: 1;
      width: 100%;
    }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.backgroundDiv {
 background-image: conic-gradient(from var(--angle),transparent 70%, rgb(74 222 128 / 1));
 animation:spin 1s linear infinite
}

@keyframes spin{
  from{
    --angle:0deg;
  }
  to{
    --angle:360deg;
  }
}

.spinnerAnimation{
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle{
  animation: circle 3s linear 1;
}

@keyframes circle {
 0%{
   width: 50%;
   height: 3rem;
 }

 5%{
  width: 50px;
  height: 50px;
  border-radius: 50%;
 }

95%{
  width: 50px;
  height: 50px;
  border-radius: 50%;
 }

 100%{
  width: 50%;
  height: 3rem;
  border-radius: auto;
 }
}